.venv/
venv/
env/
Lib/
Scripts/
bin/

pyvenv.cfg
pip-log.txt
*.egg-info/
build/
dist/

__pycache__/
*.pyc

bugtracker/settings/local.py
*.key
*.pem

db.sqlite3

.idea/
.vscode/
*.swp

postgres_data/
mysql_data/

*.log